<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex" />
  <title>Votes in the My LA2050 Activation Challenge (Test data)</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<header>
  <h1>Votes in the My LA2050 Activation Challenge (Test data)</h1>
  <p><strong id="total-votes"></strong> votes have been cast by <strong id="total-voters"></strong> voters.</p>
</header>
  
<script src="https://d3js.org/d3.v3.min.js"></script>

<script>
// client-side js
// run by the browser each time your view template is loaded

(function(){

  fetch('/data/')
    .then(function(response) {
      return response.json()
    })
    .then(function(myJson) {
      //parseData(myJson)
      let data = (myJson)
      showChart(data.totals)
    })
    .catch(function(error) {
      console.error(error)
    })

  function showChart(totals) {
    const goals = ['learn', 'create', 'play', 'connect', 'live']

    var totalVotes = 0;
    goals.forEach(function(goal) {
      var data = totals[goal]
      data.forEach(function(data) {
        totalVotes += data.votes;
      });
    });
    document.getElementById('total-votes').textContent = totalVotes;
    document.getElementById('total-voters').textContent = totals.numberOfVoters;
    
    goals.forEach(function(goal) {

    console.log('goal: ' + goal);

    var data = totals[goal]
    var ticks = 1

    data.forEach(function(data) {
      if (data.votes > ticks) ticks = data.votes
    })

    var margin = {top: 20, right: 20, bottom: 70, left: 40},
        width = 400 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    // Parse the date / time
    var parseDate = d3.time.format("%Y-%m").parse;

    var x = d3.scale.ordinal().rangeRoundBands([0, width], .1);

    var y = d3.scale.linear().range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom") 
        //.tickFormat(d3.time.format("%Y-%m"));
    
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(ticks);

    var title = document.createElement('h2')
    title.innerText = goal
    document.body.appendChild(title)
    
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", 600 + margin.top + margin.bottom)
      .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");

    // d3.csv("bar-data.csv", function(error, data) {

      x.domain(data.map(function(d) { return d.finalist; }));
      y.domain([0, d3.max(data, function(d) { return d.votes; })]);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
        .selectAll("text")
          .style("text-anchor", "end")
          .attr("dx", "-.8em")
          .attr("dy", "-.55em")
          .attr("transform", "rotate(-90)" );

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          //.text("Value ($)");


      let color
      switch(goal) {
        case 'learn':
          color = 'rgb(6, 179, 188)' // ; /* @blueberry */
          break
        case 'create':
          color = 'rgb(255, 194, 51)' //; /* @banana */
          break
        case 'play':
          color = 'rgb(237, 59, 136)' //; /* @strawberry */
          break
        case 'connect':
          color = 'rgb(249, 160, 51)' //; /* @tangerine */
          break
        case 'live':
          color = 'rgb(141, 208, 59)' //; /* @lime */
          break
        default:
          color = 'gray'
      }
      
      svg.selectAll("bar")
          .data(data)
        .enter().append("rect")
          .style("fill", color)
          .attr("x", function(d) { return x(d.finalist); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.votes); })
          .attr("height", function(d) { return height - y(d.votes); });

    // });

    })

  }

})()
</script>

</body>
</html>
