<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex" />
  <title>Votes in the My LA2050 Activation Challenge (Test data)</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<header>
  <h1>Votes in the My LA2050 Activation Challenge (Test data)</h1>
  <p><strong id="total-votes"></strong> votes have been cast by <strong id="total-voters"></strong> voters.</p>
</header>
  
<script src="https://d3js.org/d3.v3.min.js"></script>

<script src="/client.js"></script>

</body>
</html>
